page-login {
}
div.boundingbox {

  width: 300px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(204,204,204,0.7);
  text-align: center;
  border: 2x solid gold;
}
div.pos{
  position: relative;
  bottom: 50px;
  top: 50px;
  right: 50px;
  left: 50px;
}