page-login {
}
div.boundingbox {

  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(204,204,204,0.7);
  text-align: center;
  border: 2x solid gold;
}
div.pos{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  
}