page-login {
}
.block{
  background-image: url(http://www.valpo.edu/brand/files/2014/05/SecondarySignature_1Black_Web.png);
  position: relative;
}

.block::before{
  background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 300%;
  position: center;
  width: 300%;
}
