
.header {
	background-color: #FFFF00;
	color: #613318;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	padding: 5px;
	margin: 10px;
}

.columnRight {
position: fixed;
left: -10px;
right: 10px;
width: 5px;
}


.list {
	margin: 40px;
}

