
.header {
	background-color: #FFFF00;
	color: #613318;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	padding: 15px;
	margin: auto;
	width:100%;
}

.columnRight {
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
width: 100%;

}


.list {
	margin: auto;
	height: 525px;
	width:100%;
}

