ion-card {
    position: relative;
    text-align: center;
}
ion-card-title {
    position: absolute;
    top: 25%;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    color: #fff !important;
}

div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}


div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}
body {
background-color:a58329;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

